@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Rubik&display=swap');

/* Utility CSS */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* Navbar */
.navbar {
    margin: 0 11rem;
    display: flex;
    padding: 1rem;
    margin-bottom: 6rem;
}

.navbar span {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.navbar>div:nth-of-type(1) {
    gap: 1rem;
}

.navbar>div:nth-of-type(2) {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.navbar>div:nth-of-type(2)>img {
    cursor: pointer;
}

.navbar ul {
    font-size: 12px;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar li {
    cursor: pointer;
}

.navbar input {
    border: none;
}


/* Banner */
.banner {
    margin: 0 11rem;
    margin-bottom: 6rem;
}

#banner__image {
    position: absolute;
    width: 38.313rem;
    height: 43.871rem;
    z-index: -1;
    right: 10%;
    top: 10%;
}

.hero__desc {
    position: absolute;
    right: 18%;
    top: 98%;
    border-radius: 10px;
    background: white;
    flex-direction: column;
    width: 23.875rem;
    height: 7.125rem;
    box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.75);
}

.hero__desc>p:nth-of-type(1) {
    color: #33475B;
    font-size: 1.5rem;
    font-weight: 700;
}

.hero__desc>p:nth-of-type(2) {
    color: #87898C;
}

.banner__toast {
    background: #E7F6FF;
    border-radius: 26.5px;
    padding: 0.5rem 1rem;
    width: fit-content;
    font-size: 0.875rem;
}

.banner__toast>span:nth-of-type(1) {
    padding: 0.2rem 1rem;
    color: white;
    background: #094B72;
    border-radius: 26.5px;
    margin-right: 10px;
}

.banner__toast>span:nth-of-type(2) {
    color: #094B72;
    line-height: 2.25rem;
}

.banner h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #094B72;
    font-size: 5.625rem;
    font-weight: 700;
    margin: 1rem 0;
}

.banner>p:nth-of-type(1) {
    color: #4F4F4F;
    font-size: 1.5rem;
}

.banner>p:nth-of-type(2) {
    color: #8B8C8C;
    font-size: 1.375rem;
    margin: 1rem 0;
}

.banner__button {
    margin: 2rem 0 4rem 0;
    font-size: 1rem;
    background: #094B72;
    padding: 1.75rem 3.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.why{
    display: flex;
    width:100%;
    height:auto;
    background: #F2F7FF;
    overflow: inherit;
    justify-content: center;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 174px; */
    margin-left: 167px;
    width: 419.31px;
    height: auto;
}
p.top{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.323077px;
    color: #2D2F30;
}
p.bottom{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #8B8C8C;
}
.feature{
    width: 50%;
    height: 534px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    padding: 126px 0px 126px 52.69px;
    /* margin-bottom: auto; */
}
.box{
    padding: 26px;
}
.feature-1, .feature-2, .feature-3, .feature-4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    width: 256px;
    height: auto;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 30px;
}
.box-top{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.5px;
}
.box-bottom{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #8B8C8C;
}
.count{
    display: flex;
    background-image: url(bg.png);
    height: auto;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 53px;
    gap: 8px;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 55px;
    margin-top: 48px;
}
.count-top{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
}
.count-bottom{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.003em;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;

}
.count-box{
    width: 255px;
}
/* .count-2:before,.count-3:before ,.count-1:before  {
    content: "";
    border: 1px solid #d3d3d3;
    align-self: stretch;
} */

.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f7ff;
}
.testimonial-heading{
    margin-top: 61px;
}
.testimonials{
    width: 100%;
    height: 534px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    /* padding: 126px 0px 126px 52.69px; */
    /* margin-bottom: auto; */
}
.card{
    background-color: white;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    /* padding: 32px; */
    /* height: 220px; */
}
.card-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #4F4F4F;
}
.card-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #2D2F30;
}
.testimonial-1{
    width:50%
}
.testimonial-2{
    width:50%
}